<mat-toolbar>
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- User Dropdown -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Shashank</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
