<div fxLayout='row' fxLayoutAlign="center center">
  <mat-toolbar fxFlex="80" color="primary">
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<button mat-raised-button (click)="trigger()">
  Trigger
</button>
