<div fxLayout="column" fxLayoutAlign="100">
  <div fxFlex="100">
    <app-header *ngIf="router.url != '/'"></app-header>
  </div>
  <!-- <div fxLayoutAlign="center center">
    <div style="width: 40vw;text-align: center;margin-top: 2vh; background-color: #fff;border: 1px solid lightgray;">
      <h1 style="font-weight: 400; font-size: 2.5rem;padding: 20px;">Generic OCR</h1>
    </div>
  </div> -->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
