<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  <div fxFlex="25" fxFlex.xs="90">
    <mat-card class="app-card-style">
      <mat-card-content>
        <!-- <div class="logo" fxLayoutAlign='center center'>
          <mat-icon svgIcon="{{caxLogo}}"></mat-icon>
        </div> -->
        <div class="form_container">
          <h2 class="main-heading">Provide user credentials</h2>
          <h4 class="sub-heading">Check your email for details</h4>
          <form [formGroup]="loginForm" (submit)=login() fxLayout="column" fxLayoutAlign="start start">
            <mat-form-field fxFlex="100">
              <mat-label>Username</mat-label>
              <input matInput placeholder="UserName *" formControlName="username">
            </mat-form-field>
            <mat-form-field fxFlex="100">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password *" formControlName="password">
            </mat-form-field>
            <!--  -->
            <div class="login-div" fxLayout="row" fxLayoutAlign="center center">
              <button flex="100" mat-raised-button [disabled]="!loginForm.valid" id="login-btn">Login</button>
            </div>
            <!--  -->
          </form>
        </div>
      </mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="cax-redirect">
          <span class="copyright">©2020</span>&nbsp;
          <a target="_blank" href="//crowdanalytix.com">CrowdANALYTIX</a>
        </span>
      </div>
    </mat-card>
  </div>
</div>
